* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}
main {
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}
.widget {
  display: flex;
  align-items: center;
  flex: 1 1 200px;
  margin: 10px;
}
.widget .media {
  font-size: 40px;
  color: #333;
  margin-right: 15px;
}
.content h4 {
  margin: 0 0 5px 0;
  font-size: 18px;
}
.content p {
  font-size: 14px;
  margin: 0;
  color: #555;
}
.grid {
  display: grid;
  gap: 40px;
}
.my-40 {
  margin-block-start: 40px;
  margin-block-end: 40px;
}
.grid.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.row-2 {
  grid-template-rows: repeat(2, auto);
}
.grid.w-2\/3 {
  grid-column: span 2;
}
.grid.w-1\/3 {
  grid-column: span 1;
}
.product-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
}
.product-card .media {
  height: 400px;
  overflow: hidden;
}
.product-card .content {
  padding: 15px;
}
.product-card .content h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}
.product-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
button {
  background-color: #2e0d5f;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 60px;
  cursor: pointer;
  font-size: 16px;
}
.text-bold {
  font-weight: bold;
}
.space-y-20 > * {
  margin-top: 20px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.ml-auto {
  margin-left: auto;
}
.flex.gap-5 {
  gap: 5px;
}
.text-yellow {
  color: #ffcc00;
}

@media (min-width: 769px) {
  .md-text-right {
    text-align: right;
  }
  .grid-products {
    gap: 20px;
  }
  .grid.md-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.md-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.md-row-2 {
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 768px) {
  .grid.col-3 {
    grid-template-columns: 1fr;
  }
  .grid.col-1 {
    grid-template-columns: 1fr;
  }
  .grid.w-1\/3 {
    grid-column: span 1;
  }
  .text-right {
    text-align: left;
  }
}
